@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "opensansbold";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
  width: 100%;
  margin: 0; }

a {
  text-decoration: none; }

h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px; }

ul {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0;
  list-style: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.page-header {
  display: none;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 60px; }
  .page-header img {
    display: none; }

@media (min-width: 1080px) {
  .page-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 90px; }
    .page-header img {
      display: block; } }

.wrapper {
  width: 260px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .wrapper {
      width: 768px; } }
  @media (min-width: 1080px) {
    .wrapper {
      width: 1080px; } }
  .wrapper--page-header {
    flex-direction: row;
    justify-content: space-between;
    -ms-grid-row-align: flex-end;
        align-items: flex-end; }
  .wrapper--page-footer {
    justify-content: space-between;
    z-index: 1; }

@media (min-width: 768px) {
  .wrapper--page-header {
    justify-content: space-between;
    flex-direction: row; }
  .wrapper--page-footer {
    justify-content: space-between;
    flex-direction: row;
    z-index: 1; } }

@media (min-width: 1080px) {
  .wrapper--page-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
  .wrapper--page-footer {
    justify-content: space-between;
    flex-direction: row;
    z-index: 1; } }

.contacts {
  display: flex;
  flex-direction: column; }
  .contacts a {
    text-align: right;
    padding-right: 25px;
    color: #636363;
    font-size: 14px;
    line-height: 18px;
    position: relative; }
    .contacts a:first-child {
      margin-bottom: 5px; }
    .contacts a:first-child:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      display: block;
      right: 0;
      background-image: url("../img/phone-1.png");
      width: 16px;
      height: 16px; }
    .contacts a:last-child:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      display: block;
      right: 0;
      background-image: url("../img/mail-1.png");
      width: 16px;
      height: 12px; }
  .contacts--white {
    margin-right: auto;
    margin-top: 20px; }
    .contacts--white a {
      color: #d4d2d2;
      text-align: left;
      padding-right: 0;
      padding-left: 25px; }
      .contacts--white a:first-child:after {
        left: 0;
        background-image: url("../img/phone-2.png"); }
      .contacts--white a:last-child:after {
        left: 0;
        background-image: url("../img/mail-2.png"); }

@media (min-width: 768px) {
  .contacts--white {
    margin-left: auto;
    margin-right: 0;
    margin-top: 20px; }
    .contacts--white a {
      text-align: right;
      padding-right: 25px;
      padding-left: 0; }
      .contacts--white a:first-child:after {
        left: auto;
        right: 0;
        background-image: url("../img/phone-2.png"); }
      .contacts--white a:last-child:after {
        left: auto;
        right: 0;
        background-image: url("../img/mail-2.png"); } }

.book {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-top: 25px; }
  .book h1 {
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 auto; }
    .book h1:after {
      content: "";
      display: table;
      width: 100px;
      height: 6px;
      margin: 15px auto;
      background-color: #000000; }
  .book span {
    color: #636363;
    font-size: 16px;
    line-height: 25px;
    display: block;
    margin-bottom: 15px; }

.book__description {
  margin: 0 auto;
  width: 260px; }

.book__img {
  display: none; }
  .book__img img {
    width: 100px;
    height: auto; }

.book__info {
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  display: block;
  position: relative; }
  .book__info--line:after {
    position: absolute;
    content: "";
    display: table;
    width: 116px;
    height: 6px;
    background-color: #ff0000;
    top: 50%;
    transform: translateY(-50%); }

.book__form {
  background: linear-gradient(-110deg, #30b2d4 0%, #2ca2c2 47%, #2892af 100%);
  padding: 20px;
  width: 260px;
  display: flex;
  margin-top: 15px;
  flex-direction: column; }
  .book__form legend {
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    position: relative; }
  .book__form label {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  .book__form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px; }
  .book__form input {
    height: 50px;
    font-size: 18px;
    line-height: 18px;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif; }
  .book__form input[type="text"] {
    padding: 0px 25px; }
  .book__form input[type="text"]:hover {
    background-color: #f2f2f2; }
  .book__form input[type="submit"] {
    color: #ffffff;
    background-color: #db2837;
    text-align: center;
    padding: 0 27px;
    cursor: pointer;
    margin-top: 10px; }
  .book__form input[type="submit"]:hover {
    background-color: #b21e2a; }

@media (min-width: 768px) {
  .book h1 {
    font-size: 40px;
    line-height: 45px;
    width: 300px;
    text-align: left;
    margin: 0 auto 0 0; }
    .book h1:after {
      margin: 15px 0; }
  .book span {
    color: #636363;
    font-size: 18px;
    line-height: 18px;
    display: block; }
  .book__img {
    display: block;
    position: absolute;
    right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .book__img img {
      width: 357px;
      height: auto; }
  .book__description {
    width: 660px; }
  .book__form {
    width: 300px; } }

@media (min-width: 1080px) {
  .book h1 {
    font-size: 45px;
    line-height: 50px;
    width: 350px;
    margin: 0; }
    .book h1:after {
      content: "";
      display: table;
      width: 100px;
      height: 6px;
      background-color: #000000; }
  .book span {
    color: #636363;
    font-size: 18px;
    line-height: 18px;
    display: block;
    margin-bottom: 37px; }
  .book__img {
    position: relative;
    left: 0;
    transform: none;
    top: 8px; }
    .book__img img {
      width: 422px; }
  .book__description {
    width: 521px; }
  .book__info {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    display: block;
    position: relative; }
    .book__info--line:after {
      position: absolute;
      content: "";
      display: table;
      width: 190px;
      height: 6px;
      background-color: #ff0000;
      top: 50%;
      transform: translateY(-50%); }
  .book__form {
    background: linear-gradient(-110deg, #30b2d4 0%, #2ca2c2 47%, #2892af 100%);
    padding: 30px;
    width: 590px; }
    .book__form legend {
      color: #ffffff;
      font-size: 18px;
      line-height: 18px;
      position: relative;
      display: block;
      margin: 0 auto; }
      .book__form legend:before, .book__form legend:after {
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: #ffffff;
        content: "";
        display: table;
        top: 50%; }
      .book__form legend:before {
        left: -75px; }
      .book__form legend:after {
        right: -75px; }
    .book__form div {
      padding-top: 20px;
      flex-direction: row;
      -ms-grid-row-align: baseline;
          align-items: baseline; }
    .book__form input[type="text"] {
      width: 300px; }
    .book__form input[type="submit"] {
      width: 220px;
      text-align: center; } }

.about-book h2 {
  font-size: 26px;
  line-height: 30px;
  width: 240px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin: 50px auto 30px; }

.about-book__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0; }

.about-book__item {
  padding: 0;
  margin: 0;
  width: 260px;
  padding-top: 100px;
  position: relative;
  margin-bottom: 45px;
  color: #636363;
  text-align: center; }
  .about-book__item:before {
    content: "";
    display: table;
    width: 78px;
    height: 78px;
    background-repeat: no-repeat;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .about-book__item--profession:before {
    background-image: url("../img/002-paint-palette.svg"); }
  .about-book__item--start:before {
    background-image: url("../img/001-thinking.svg"); }
  .about-book__item--master:before {
    background-image: url("../img/004-presentation.svg"); }
  .about-book__item--time:before {
    background-image: url("../img/003-piggy-bank.svg"); }

@media (min-width: 768px) {
  .about-book h2 {
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    margin: 60px auto 50px; }
  .about-book__items {
    flex-direction: row;
    width: 580px; }
  .about-book__item {
    text-align: left; } }

@media (min-width: 1080px) {
  .about-book h2 {
    font-size: 36px;
    line-height: 36px; }
  .about-book__items {
    justify-content: space-between;
    width: 825px; }
  .about-book__item {
    padding-left: 108px;
    width: 365px;
    padding-top: 0; }
    .about-book__item:before {
      width: 78px;
      height: 78px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); } }

.about-mc h2 {
  font-size: 26px;
  line-height: 30px;
  width: 260px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin: 5px auto 30px; }

.about-mc__items {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 260px; }
  .about-mc__items li {
    width: 260px;
    padding-left: 50px;
    margin-bottom: 25px;
    position: relative;
    margin-right: 30px;
    color: #636363; }
  .about-mc__items li:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: table;
    width: 32px;
    height: 30px;
    background-image: url("../img/check.png");
    left: 0; }

@media (min-width: 768px) {
  .about-mc h2 {
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    margin: 15px auto 50px; }
  .about-mc__items {
    flex-direction: row;
    flex-wrap: wrap;
    width: 580px; } }

@media (min-width: 1080px) {
  .about-mc h2 {
    font-size: 36px;
    line-height: 36px; }
  .about-mc__items {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 750px;
    flex-wrap: wrap;
    justify-content: space-around; }
    .about-mc__items li {
      width: 300px;
      padding-left: 50px;
      margin-bottom: 25px;
      position: relative;
      margin-right: 30px;
      color: #636363; }
    .about-mc__items li:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      display: table;
      width: 32px;
      height: 30px;
      background-image: url("../img/check.png");
      left: 0; } }

.course {
  display: flex;
  flex-direction: column;
  width: 260px; }

.course__author {
  display: flex;
  flex-direction: column; }
  .course__author img {
    width: 260px;
    height: auto;
    margin-bottom: 10px; }
  .course__author b {
    font-size: 20px;
    line-height: 24px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px; }

.course__author-rate {
  margin-top: 15px; }
  .course__author-rate li {
    color: #636363;
    width: 260px;
    padding-bottom: 5px;
    list-style: square inside; }

.course__get form {
  background: linear-gradient(-110deg, #30b2d4 0%, #2ca2c2 47%, #2892af 100%);
  padding: 20px;
  width: 260px;
  display: flex;
  margin-top: 15px;
  flex-direction: column; }
  .course__get form legend {
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    display: block;
    margin-right: auto; }
  .course__get form label {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  .course__get form div {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-direction: column; }
  .course__get form input {
    height: 50px;
    font-size: 18px;
    line-height: 18px;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif; }
  .course__get form input[type="text"] {
    padding: 0 25px; }
  .course__get form input[type="text"]:hover {
    background-color: #f2f2f2; }
  .course__get form input[type="submit"] {
    color: #ffffff;
    background-color: #db2837;
    width: 220px;
    text-align: center;
    padding: 0 27px;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px; }
  .course__get form input[type="submit"]:hover {
    background-color: #b21e2a; }

.course__gift {
  position: relative;
  padding-top: 130px;
  text-align: center; }
  .course__gift:before {
    content: "";
    display: table;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    width: 93px;
    height: 100px;
    background-image: url("../img/gift.png"); }
  .course__gift h3 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px; }
  .course__gift p {
    margin: 0 auto;
    width: 240px;
    color: #636363;
    font-size: 16px;
    line-height: 20px; }

@media (min-width: 768px) {
  .course {
    width: 100%;
    margin-top: 35px; }
  .course__author {
    flex-direction: row;
    margin: 0 auto 30px; }
    .course__author img {
      margin-right: 40px; }
  .course__author-rate {
    margin-top: 25px; }
    .course__author-rate li {
      padding-bottom: 17px; }
    .course__author-rate li:last-child {
      padding-bottom: 0px; }
  .course__get form {
    width: 560px;
    margin: 0 auto;
    padding: 25px;
    margin-bottom: 30px; }
    .course__get form div {
      flex-direction: row; }
    .course__get form input[type="text"] {
      width: 275px; }
    .course__get form input[type="submit"] {
      margin: 0; }
  .course__gift {
    padding: 0;
    padding-left: 115px;
    text-align: left;
    margin: 0 auto;
    width: 435px; }
    .course__gift:before {
      content: "";
      display: table;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0; }
    .course__gift p {
      width: 100%; } }

@media (min-width: 1080px) {
  .course {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .course__author {
    display: flex;
    width: 491px;
    margin: 0; }
    .course__author img {
      width: 280px;
      height: auto;
      margin: 0;
      margin-right: 25px; }
    .course__author b {
      font-size: 20px;
      line-height: 24px;
      display: block;
      text-transform: uppercase;
      letter-spacing: 1px; }
  .course__author-rate {
    margin-top: 30px; }
    .course__author-rate li {
      width: 100%;
      padding-bottom: 10px; }
    .course__author-rate li:nth-child(3) {
      padding-bottom: 25px; }
    .course__author-rate li:nth-child(4) {
      padding-bottom: 25px; }
  .course__get {
    width: 524px; }
    .course__get form {
      background: linear-gradient(-110deg, #30b2d4 0%, #2ca2c2 47%, #2892af 100%);
      padding: 25px 30px;
      margin: 0;
      width: 100%; }
      .course__get form legend {
        color: #ffffff;
        width: 400px;
        font-size: 20px;
        line-height: 22px;
        position: relative;
        display: block;
        margin-right: auto; }
      .course__get form label {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0; }
      .course__get form div {
        display: flex;
        justify-content: space-between;
        padding-top: 20px; }
      .course__get form input {
        min-height: 50px;
        font-size: 18px;
        line-height: 18px;
        border: 0;
        font-family: 'Roboto Condensed', sans-serif; }
      .course__get form input[type="text"] {
        padding: 0 25px;
        width: 230px; }
      .course__get form input[type="submit"] {
        color: #ffffff;
        background-color: #db2837;
        width: 220px;
        text-align: center;
        padding: 0 27px;
        cursor: pointer;
        font-size: 22px;
        text-transform: uppercase; }
      .course__get form input[type="submit"]:hover {
        background-color: #b21e2a; }
  .course__gift {
    position: relative;
    padding-left: 113px;
    margin-top: 30px;
    width: 100%; }
    .course__gift:before {
      content: "";
      display: table;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 93px;
      height: 100px;
      background-image: url("../img/gift.png"); }
    .course__gift h3 {
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 18px; }
    .course__gift p {
      margin: 0;
      width: 380px;
      color: #636363;
      font-size: 16px;
      line-height: 20px; } }

.page-footer {
  background-color: #636363;
  min-height: 90px;
  width: 100%;
  position: relative;
  display: flex;
  padding: 20px;
  margin-top: 30px; }
  .page-footer:after {
    content: "";
    background-color: #636363;
    background-image: url("../img/footer-bg.png");
    background-position: center;
    opacity: 0.4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }

.page-footer__info {
  color: #d4d2d2; }
  .page-footer__info p {
    margin: 0;
    font-size: 14px;
    line-height: 21px; }
  .page-footer__info a {
    color: #d4d2d2; }

@media (min-width: 768px) {
  .page-footer {
    margin-top: 40px; }
  .page-footer__info {
    width: 450px; } }

@media (min-width: 1080px) {
  .page-footer {
    margin-top: 50px; } }
