@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "opensansbold";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
  width: 100%;
  margin: 0; }

a {
  text-decoration: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.page-header {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%; }
  .page-header img {
    display: block; }

.wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .wrapper {
      width: 768px; } }
  @media (min-width: 1080px) {
    .wrapper {
      width: 1080px; } }
  .wrapper--page-header {
    justify-content: space-between;
    flex-direction: row; }

.contacts {
  display: flex;
  flex-direction: column; }
  .contacts a {
    text-align: right;
    padding-right: 25px;
    color: #636363; }

.book {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .book h1 {
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
    width: 350px;
    color: #000000;
    letter-spacing: 1px; }
    .book h1:after {
      content: "";
      display: table;
      width: 100px;
      height: 6px;
      background-color: #000000; }
  .book span {
    color: #636363;
    font-size: 18px;
    line-height: 18px;
    display: block; }

.book__info {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  display: block;
  position: relative; }
  .book__info--line:after {
    position: absolute;
    content: "";
    display: table;
    width: 190px;
    height: 6px;
    background-color: #ff0000;
    top: 50%;
    transform: translateY(-50%); }

.book__form {
  background: linear-gradient(-110deg, #30b2d4 0%, #2ca2c2 47%, #2892af 100%);
  padding: 30px;
  width: 590px; }
  .book__form legend {
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    display: block;
    margin: 0 auto; }
    .book__form legend:before, .book__form legend:after {
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: #ffffff;
      content: "";
      display: table;
      top: 50%; }
    .book__form legend:before {
      left: -75px; }
    .book__form legend:after {
      right: -75px; }
  .book__form label {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  .book__form div {
    display: flex;
    justify-content: space-between;
    padding-top: 20px; }
  .book__form input {
    min-height: 50px;
    font-size: 18px;
    line-height: 18px;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif; }
  .book__form input[type="text"] {
    padding: 0px 25px;
    width: 300px; }
  .book__form input[type="submit"] {
    color: #ffffff;
    background-color: #db2837;
    width: 220px;
    text-align: center;
    padding: 0 27px;
    cursor: pointer; }
  .book__form input[type="submit"]:hover {
    background-color: #b21e2a; }

.page-footer {
  background-color: #f1f1f1;
  width: 100%; }

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      width: 768px; } }
  @media (min-width: 1080px) {
    .page-footer__wrapper {
      width: 1080px; } }

.page-footer__logo {
  display: none; }

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
  margin-left: 30px;
  margin-right: 30px; }
  @media (min-width: 768px) {
    .page-footer__social {
      margin-left: 50px;
      margin-right: 50px; } }
  .page-footer__social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-left: 60px;
    margin-right: 60px; }
  .page-footer__social li {
    list-style-type: none;
    display: flex;
    padding-top: 10px;
    padding-bottom: 4px; }
  .page-footer__social li:nth-child(2) {
    padding: 7px;
    padding-bottom: 4px;
    padding-left: 44px;
    padding-right: 38px; }
  .page-footer__social a {
    display: flex;
    text-decoration: none; }

.social-btn {
  font-size: 0; }

.page-footer__made-by {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px; }
  .page-footer__made-by span {
    font-size: 19px;
    font-weight: bold;
    margin-right: 30px; }

@media (min-width: 768px) {
  .page-footer {
    min-height: 139px;
    border-bottom: none; }
  .page-footer__logo {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px; }
  .page-footer__social {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 22px;
    border-bottom: none; }
  .page-footer__made-by {
    margin-top: 60px; }
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: flex-start; } }

@media (min-width: 1080px) {
  .page-footer__logo {
    margin-right: 290px; }
  .page-footer__social {
    margin-right: 215px; } }
