body {
  font-family: 'Roboto Condensed', sans-serif;
  color: $black;
  width: 100%;
  margin: 0;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
*,
*:before,
*:after,
*:before:hover,
*:after:hover {
  @include transition;

}


<!-- 1 Это для того, чтобы сайт загружался сразу  -->
.js body {
  visibility:visible!important;
}

html{
    height:100vh!important
  }
body,img{
  -webkit-animation-duration:3s;
  animation-duration:3s;
  -webkit-animation-name:load;
  animation-name:load;
}
@keyframes load{
  from {opacity:0;}
  to {opacity:1;}
}
@-webkit-keyframes load{
  from {opacity:0;}
  to { opacity:1;}
}
