@mixin container() {
  width: 320px;
  margin: 0 auto;

  @media #{$tablet-widths} {
   width: 768px;
  }
  @media #{$desktop-widths} {
   width: 1080px;
  }
}
@mixin vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
@mixin hor-align {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
@mixin visuallyHidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
@mixin form-bg {
	background: -moz-linear-gradient( -110deg, rgb(48,178,212) 0%, rgb(44,162,194) 47%, rgb(40,146,175) 100%);
	background: -webkit-linear-gradient( -110deg, rgb(48,178,212) 0%, rgb(44,162,194) 47%, rgb(40,146,175) 100%);
	background: -ms-linear-gradient( -110deg, rgb(48,178,212) 0%, rgb(44,162,194) 47%, rgb(40,146,175) 100%);
	background: linear-gradient( -110deg, rgb(48,178,212) 0%, rgb(44,162,194) 47%, rgb(40,146,175) 100%);
}

@mixin side-padding {
	padding-left: 30px;
	padding-right: 30px;

    @media #{$tablet-widths} {
      padding-left: 35px;
      padding-right: 35px;
    }
}

@mixin side-margin {
  margin-left: 30px;
  margin-right: 30px;
  @media #{$tablet-widths} {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@mixin btn-padding {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;
}
