.about-book {
  h2 {
    font-size: 26px;
    line-height: 30px;
    width: 240px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: 50px auto 30px;
  }
}

.about-book__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;
}
.about-book__item {
  padding: 0;
  margin: 0;
  width: 260px;
  padding-top: 100px;
  position: relative;
  margin-bottom: 45px;
  color: $light-gray;
  text-align: center;

  &:before {
    content: "";
    display: table;
    width: 78px;
    height: 78px;
    background-repeat: no-repeat;
    top: 0;
    @include hor-align;

  }

  &--profession:before {
    background-image: url("../img/002-paint-palette.svg");
  }
  &--start:before {
    background-image: url("../img/001-thinking.svg");
  }
  &--master:before {
    background-image: url("../img/004-presentation.svg");
  }
  &--time:before {
    background-image: url("../img/003-piggy-bank.svg");
  }
}

@media #{$tablet-widths} {
  .about-book {
    h2 {
      font-size: 30px;
      line-height: 30px;
      width: 100%;
      margin: 60px auto 50px;
    }
  }
  .about-book__items {
    flex-direction: row;
    width: 580px;
  }
  .about-book__item {
    text-align: left;
  }

}

@media #{$desktop-widths} {
  .about-book {
    h2 {
      font-size: 36px;
      line-height: 36px;
    }
  }
  .about-book__items {
    justify-content: space-between;
    width: 825px;
  }
  .about-book__item {
    padding-left: 108px;
    width: 365px;
    padding-top: 0;

    &:before {
      width: 78px;
      height: 78px;
      left: 0;
      @include vertical-align;
    }
  }
}