.book {
  display: flex;
  justify-content: space-between;
  width: 100%;

  h1 {
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
    width: 350px;
    color: $black;
    letter-spacing: 1px;

    &:after {
      content: "";
      display: table;
      width: 100px;
      height: 6px;
      background-color: $black;
    }
  }
  span {
    color: $light-gray;
    font-size: 18px;
    line-height: 18px;
    display: block;
  }
}
.book__info {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  display: block;
  position: relative;

  &--line {
    &:after {
      position: absolute;
      content: "";
      display: table;
      width: 190px;
      height: 6px;
      background-color: $red;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.book__form {
  @include form-bg;
  padding: 30px;
  width: 590px;

  legend {
    color: $white;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    display: block;
    margin: 0 auto;

    &:before,
    &:after {
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: $white;
      content: "";
      display: table;
      top: 50%;
    }
    &:before {
      left: -75px;
    }
    &:after {
      right: -75px;
    }
  }
  label {
    @include visuallyHidden;
  }

  div {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

  }
  input {
    min-height: 50px;
    font-size: 18px;
    line-height: 18px;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
  }
  input[type="text"] {
    padding: 0px 25px;
    width: 300px;

  }
  input[type="submit"] {
    color: $white;
    background-color: $btn1;
    width: 220px;
    text-align: center;
    padding: 0 27px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: darken($btn1, 10%);
  }
}