.contacts {
  display: flex;
  flex-direction: column;

  a {
    text-align: right;
    padding-right: 25px;
    color: $light-gray;
    font-size: 14px;
    line-height: 18px;
    position: relative;

    &:first-child {
      margin-bottom: 5px;
    }

    &:first-child:after {
      @include vertical-align;
      content: "";
      display: block;
      right: 0;
      background-image: url("../img/phone-1.png");
      width: 16px;
      height: 16px;
    }
    &:last-child:after {
      @include vertical-align;
      content: "";
      display: block;
      right: 0;
      background-image: url("../img/mail-1.png");
      width: 16px;
      height: 12px;
    }
  }

  &--white {
    a {
      color: $lighter-gray;

      &:first-child:after {
        background-image: url("../img/phone-2.png");
      }
      &:last-child:after {
        background-image: url("../img/mail-2.png");
      }
    }
  }
}