.wrapper {
  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--page-header {
    justify-content: space-between;
    flex-direction: row;
  }
}